#**Question 1:**

Merge the below dataset using the `join` function. Note that by default `join` does a Left join.

1. https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv
2. https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv

In [9]:
import pandas as pd
import numpy as np

userDev = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv")
userUs = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv")

In [10]:
merged=userUs.set_index('use_id').join(userDev.set_index('use_id'),how='inner')
merged

        outgoing_mins_per_month  ...  use_type_id
use_id                           ...
22787                     21.97  ...            1
22788                   1710.08  ...            1
22789                   1710.08  ...            1
22790                     94.46  ...            1
22792                     71.59  ...            1
...                         ...  ...          ...
23043                    198.59  ...            1
23044                    198.59  ...            1
23046                    106.65  ...            1
23049                    344.53  ...            1
23053                     42.75  ...            1

[159 rows x 8 columns]

In [11]:
merged.columns

Index(['outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb',
       'user_id', 'platform', 'platform_version', 'device', 'use_type_id'],
      dtype='object')

# **Question 2:**

1. Engineer **1** feature that is going to add value to the dataset that resulted from the join in Question 1.
2. State the name of the feature engineering approach technique you used.
3. State how will this feature contribute to the dataset.

In [ ]:
# feature name: platform
#2.1
mergedCopy = merged.copy()
platform = mergedCopy["platform"]
one_hot_encoded = pd.get_dummies(platform)
mergedData = mergedCopy.drop('platform',axis = 1).join(one_hot_encoded)
mergedData
#2.2 One Hot Encoding
#2.3 It eases classification as it changes categorical data into numerical